<div class="profile p-4 shadow-md flex rounded-lg bg-pink-300">
    <img class="h-20 w-20" src="../../assets/profile-user.png" alt="userImg">
    <div class="details mx-10">
    <h4 class="font-semibold text-gray-700"> <span class="font-bold text-black">Name:</span> {{user.name}}</h4>
    <p class="font-semibold text-gray-700"><span class="font-bold text-black">Bio:</span> {{user.bio}}</p>
    <p class="font-semibold text-gray-700"><span class="font-bold text-black">Public Repos:</span> {{user.public_repos}}</p>
    <br>
    <p class="font-semibold text-gray-700"><span class="font-bold text-black">Location:</span> {{user.location}}</p>
    </div>
    
</div>
