<div class="flex flex-col justify-center items-center h-[20%]">
    <div class="relative flex flex-col items-center rounded-[20px] w-[400px] mx-auto p-4 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none">
        <div class="relative flex h-32 w-full justify-center rounded-xl bg-cover" >
            <img src='https://mobimg.b-cdn.net/v3/fetch/24/247a8083f45a7bcc79e749a40386029c.jpeg?h=1600' class="absolute flex h-32 w-full justify-center rounded-xl bg-cover"> 
            <div class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                <img class="h-full w-full rounded-full" src={{user.avatar_url}} alt="user Image" />
            </div>
        </div>
        <div class="mt-16 flex flex-col items-center">
            <h4 class="text-xl font-bold text-navy-700 dark:text-white">
            {{user.name}}
            </h4>
            <p class="text-base font-normal text-gray-600">{{user.location}}</p>
        </div> 
        <div class="flex flex-col ">
            <h4 class="text-xl font-bol text-black ">Bio: </h4>
            <p class="text-base font-normal text-gray-600">{{user.bio}}</p>
        </div>
    </div>    
</div>